<h2 class="is-size-4">註冊新帳號</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <br>
  <div class="field">
    <%= f.label :username, "使用者名稱" %><br />
    <%= f.text_field :username , class: "input" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
      <div class="control">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"input" %>
      </div>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
      <div class="control">
        <%= f.password_field :password, autocomplete: "new-password" , class:"input" %>
      </div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
      <div class="control">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input" %>
      </div>
  </div>

  <div class="actions">
    <%= f.submit "註冊", class:"button is-primary" %>
  </div>
<% end %>
<hr>
<%= render "devise/shared/links" %>
