<% if story.errors.any? %>
    <div class= "notification is-danger">
        <%= story.errors.full_messages.to_sentence %>

    </div>
<% end %>


<%= form_for(story) do |form| %>
    <div class="field">

        <%= form.label :故事標題 , class:'is-size-4 has-text-weight-medium' %>
        <%= form.text_field :title, class: 'input is-warning' %>

    </div>
    <div class="field">

            <%= form.label :故事內文 , class:'is-size-4 has-text-weight-medium' %>
            <%= form.text_area :content, rows:10 , class: 'textarea is-primary is-medium' %>
    
    </div>
    <div class="field">
        <%= form.submit '更新內容' , name: 'save_update', class:'button is-light is-large' %>  &nbsp; &nbsp; &nbsp;
        <%= form.submit '發布故事' , name: 'publish', class:'button is-primary is-large' if story.may_publish?  %>   &nbsp; &nbsp; &nbsp;
        <%= form.submit '存成草稿' , name: 'unpublish' , class: 'button is-warning is-large' if story.may_unpublish? %>
    </div>


<% end %>